/UnknownNetBoilerplate/Infrastructure/obj
/UnknownNetBoilerplate/Infrastructure/bin
/UnknownNetBoilerplate/Infrastructure.Tests/obj
/UnknownNetBoilerplate/Infrastructure.Tests/bin
/UnknownNetBoilerplate/Backend/bin
/UnknownNetBoilerplate/Backend/obj
/UnknownNetBoilerplate/Backend/obj
/UnknownNetBoilerplate/Bootstrapper/bin
/UnknownNetBoilerplate/Bootstrapper/obj
